<div class="logo">
    <a  class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/true.png"/>
        </div>
        KPI Business
    </a>
</div>
<div class="sidebar-wrapper">
    <form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
      
   
    </form>

    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
    

    </ul>

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
