
<div class="main-content">
        <ul class="nav">
        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons" *ngIf="report!='TroubleTicket'">access_time</i>
                    <i class="material-icons" *ngIf="report=='TroubleTicket'">find_in_page</i>
                    <span class="notification" *ngIf="report!='TroubleTicket'">seleziona l'intervallo temporale</span>
                    <span class="notification" *ngIf="report=='TroubleTicket'">seleziona il sistema </span>
                </a>
                <ul class="dropdown-menu" *ngIf="report!='TroubleTicket'">
                    <li><a  (click)="cambiaFiltro('last week')">last week</a></li>
                    <li><a  (click)="cambiaFiltro('previous week')">previous week</a></li>
                    <li><a  (click)="cambiaFiltro('this month')">this month</a></li>
                    <li><a  (click)="cambiaFiltro('last month')">last month</a></li>
                </ul>
                <ul class="dropdown-menu" *ngIf="report=='TroubleTicket'">
                    <li><a  (click)="cambiaFiltro('totali')">totali</a></li>
                    <li><a  (click)="cambiaFiltro('Business e Open Access')">Business e Open Access</a></li>
                    <li><a  (click)="cambiaFiltro('Consumer Fisso')">Consumer Fisso</a></li>
                    <li><a  (click)="cambiaFiltro('Consumer Mobile')">Consumer Mobile</a></li>
                    <li><a  (click)="cambiaFiltro('Mail e servizi VAS')">Mail e servizi VAS</a></li>
                   
                    
                </ul>
            </li>
            </ul>
        <div class="container-fluid">
             
           <!-- <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Used Space</p>
                            <h3 class="title">49/50<small>GB</small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Revenue</p>
                            <h3 class="title">$34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Fixed Issues</p>
                            <h3 class="title">75</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Tracked from Github
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Followers</p>
                            <h3 class="title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-md-6">
                    <div class="card" >
                        
                        
                        <div class="card-content">
                                <div class="ombra">
                                <fusioncharts
                                width="100%"
                                [height]="height"
                                [type]="type"
                                [dataFormat]="dataFormat"
                                [dataSource]="dataSource"
                                [events]="events"
                                >
                            </fusioncharts>    
                        </div>
                        <br>
                        <p class="category"> report {{report}} vista per sistema</p>

                    </div>
                        <div class="card-footer">
                            <div class="stats">
                                    <i class="material-icons">date_range</i> Report relativo a {{filtroTempo}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="card" >
                            
                            
                            <div class="card-content">
                                    <div class="ombra1">
                                    <fusioncharts
                                    width="100%"
                                    [height]="height"
                                    [type]="type2"
                                    [dataFormat]="dataFormat"
                                    [(dataSource)]="dataSource2"
                                    [events]="events"
                                    >
                                </fusioncharts>    
                            </div>
                             <br>
                        <p class="category">dettaglio sul canale {{canale}}</p>
                        </div>
                          
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Report relativo a {{filtroTempo}}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

         
        </div>
</div>
