.ct-chart-pie.my-custom-class-one{
    stroke: red;
}
.ct-chart-pie.my-custom-class-two{
    stroke: green;
}
.ct-chart-pie.my-custom-class-three{
    stroke: violet;
}
.contenitore{
    width: 200px;
    height: 200px;
}
.main-content {
    margin-top: 20px;
  
  }
  .navbar {
  
  margin-bottom: 0;
  
  }
  .ombra{
  
       background: linear-gradient(60deg, #ffa726, #fb8c00);
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    
  }
  .ombra1{
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
  }